# Binance API
BINANCE_API_KEY=
BINANCE_SECRET_KEY=
BINANCE_BASE_URL=https://fapi.binance.com
BINANCE_WS_URL=wss://fstream.binance.com

# Supabase
SUPABASE_URL=
SUPABASE_KEY=

# Email
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
NOTIFICATION_EMAIL=
